
strong {
  color: #202226;
  position: absolute;
  top: 38%;
  left: 2px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
}  